@font-face {
    font-family: MontserratRegular;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MontserratBold;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MontserratLight;
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MontserratMedium;
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MontserratSemiBold;
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: OpenSansRegural;
    src: url("../fonts/opensans/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}


body {
    font-family: MontserratRegular, sans-serif;
    font-size: 16px;
    border: 1px solid red;
    margin: 0 auto;
    position: relative;
}

.head {
    height: 154px;
    background-color: #0a2135;
}

.head #logo {
    position: absolute;
    top: 14px;
    left: -35px;
    text-align: center;
    filter: drop-shadow(0 21px 40px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(0 21px 40px rgba(255, 255, 255, 0.5));
}

.head .head-prize-fund {
    display: flex;
    margin-top: 23px;
}

.head .head-prize-fund span:first-child {
    font-size: 12px;
    color: #60646b;
    text-align: left;
    width: 110px;
}

.head .head-prize-fund span:last-child {
    color:  #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}

.head .button-invite {
    width: 190px;
    height: 45px;
    margin-top: 20px;
}

.head .button-invite a {
    color: #fff;
    font-family: MontserratBold,sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #60646b;
    border-radius: 5px;
    line-height: 43px;
    text-decoration: none;
}

.head .button-invite a i {
    color:  #ffdc11;
    font-size: 14px;
    padding-left: 5px;
}

.head .login {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 35px;
}

.head .login a {
    color: #fff;
    margin: 5px;
}

.head .login i {
    color: yellow;
    font-size: 16px;
}
#menu {
    width: 70%;
    height: 65px;
    background-color:  #1e3046;
    float: right;
    text-transform: uppercase;
    position: relative;
}

#menu::before {
    content: " ";
    position: absolute;
    width: 0;
    left: -39px;
    height: 0;
    border-style: solid;
    border-width: 65px 39px 0 0;
    border-color: transparent #1e3046 transparent transparent;
}

#menu ul li a:focus {
    color: yellow;
}

#menu ul li {
    margin-right: 45px;
}

#menu ul li a {
    color: #fff;
    font-family: MontserratBold,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
}

#menu .dropdown-menu {
    background-color: #1e3046;
}

#menu .dropdown-item:hover {
    background-color: #1e3046;
    color: yellow;
}

.slider {
    background: url("../img/bg-slider.jpg") no-repeat;
    height: 715px;
}

.slider .carousel-content {
    height: 100%;
    color: #fff;
    display: block;
    padding-top: 10%;
    padding-left: 55%;
}

.slider .carousel-content h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}

.slider .carousel-content h3 {
    font-family: MontserratBold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 40px;
}

.slider .carousel-content p {
    width: 53%;
    font-family: MontserratMedium, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.slider .carousel-content .button-invite-slider {
    width: 210px;
    height: 50px;
    background-color: #ffdc11;
    margin-top: 50px;
}

.slider .carousel-content .button-invite-slider a {
    color: black;
    font-size: 12px;
    font-family: MontserratBold, sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-decoration: none;
}

.slider .carousel-content .button-invite-slider a i {
    margin-left: 10px;
}

.slider .carousel-control-prev{
    left: 18%;
    font-size: 41px;
    color: white;
}

.slider .carousel-control-next{
    right: 15%;
    font-size: 41px;
}

.slider .carousel-control-next i {
    color: white;
}

.slider .carousel-indicators {
    flex-direction: column;
    right: 46%;
    bottom: 54%;
    left: 51%;
    margin: 0;
}

.slider .carousel-indicators .active {
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid yellow;
}

.slider .carousel-indicators li {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 5px 0;
}

.about {
    background-color: #05192a;
    height: 750px;
    padding-top: 50px;
}

.about h2 {
    font-family: MontserratBold, sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 2;
}

.about h2::before {
    content: url("../img/h2-img.png");
    position: absolute;
    top: 10px;
    left: -40px;
    z-index: -1;
}

.about .nav-tabs {
    border: none;
}

.about .nav-tabs a {
    color: #fff;
    font-family: MontserratLight, sans-serif;
    font-size: 16px;
}

.about .nav-link {
    padding: 15px 0;
    margin: 0 30px 20px 0;
}

.about .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border: none;
    position: relative;
}

.about .nav-tabs .nav-link.active:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
    color: #ffd200;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.about .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link a {
    color: #fff;
    font-family: MontserratBold, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.about .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
}

.about .tab-content {
    color: #ffffff;
}